<!-- Section Welcome-->
<section id="amenities"
         class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="wow animated pulse center">
                <span class="grey-text">Welcome To AppName</span></h4>
            <div class="col s8 offset-s2">
                <p class="about-us center-align">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatem expedita, atque iusto rem
                    nesciunt,
                    dolorem reiciendis quod, magni dolore neque! Tempore velit aspernatur aliquam dicta odit excepturi
                    fugit
                    tenetur corrupti ex, porro eligendi praesentium magnam illum rerum sed suscipit temporibus veritatis
                    doloremque nam laborum quia. Iure, natus nulla eum odit, consectetur ipsam ipsum exercitationem
                    debitis
                    mollitia nisi placeat quo.
                </p>
            </div>
        </div>
    </div>
</section>