<!-- <div class="carousel carousel-slider center">
    <ng-container *ngFor="let item of images">
        <div class="carousel-item">
            <img src="{{item.path}}">
        </div>
    </ng-container>
</div> -->

<ng-container *ngIf="byteImages">
    <div class="slider">
        <ul class="slides">
            <ng-container *ngFor="let img of byteImages">
                <li class="z-depth-3">
                    <img src="{{img}}">
                </li>
            </ng-container>
        </ul>
    </div>
</ng-container>