<!-- Section Slider-->
<section id="home"
         class="slider scrollspy">
    <ul class="slides">
        <li>
            <img src=""
                 style="background-image: url({{image}});">
            <div class="caption center-align">
                <h3>Dynasty Forest Sandown</h3>
                <h5>Book Hotel Rooms</h5>
                <a class="btn waves-effect white grey-text darken-text-2"
                   (click)="onBook()">Book Now</a>
            </div>
        </li>
    </ul>
</section>