<!-- Section Slider-->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="../assets/img/hero.jpg">
        </li>
    </ul>
</section>

<!-- Section Welcome-->
<section id="amenities"
         class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="wow animated pulse center">
                <span class="grey-text">Welcome To AppName</span></h4>
            <div class="col s8 offset-s2">
                <p class="about-us center-align">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatem expedita, atque iusto rem
                    nesciunt,
                    dolorem reiciendis quod, magni dolore neque! Tempore velit aspernatur aliquam dicta odit excepturi
                    fugit
                    tenetur corrupti ex, porro eligendi praesentium magnam illum rerum sed suscipit temporibus veritatis
                    doloremque nam laborum quia. Iure, natus nulla eum odit, consectetur ipsam ipsum exercitationem
                    debitis
                    mollitia nisi placeat quo.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section Icon Boxes-->
<section class="section section-icons grey lighten-4 center">
    <div class="container">
        <div class="row">
            <h4 class="wow animated pulse center">
                <span class="grey-text">Amenities</span></h4>
            <ng-container *ngFor="let item of amenities">
                <app-card [image]="item.image"
                          [title]="item.title"
                          [content]="item.content"></app-card>
            </ng-container>
        </div>
    </div>
</section>

<!-- Section Gallary-->
<section id="rooms"
         class="section section-gallery scrollspy">
    <div class="container">
        <h4 class="center">
            <span class="grey-text">
                Hotel Rooms
            </span>
        </h4>
        <div class="row">
            <ng-container *ngFor="let item of galleryItemsFirstRow">
                <app-galllery-card [image]="item.image"
                                   [title]="item.title"
                                   (onClick)="onGalleryCardClicked(item.roomType)"></app-galllery-card>
            </ng-container>
        </div>

        <div class="row">
            <ng-container *ngFor="let item of galleryItemsSecondRow">
                <app-galllery-card [image]="item.image"
                                   [title]="item.title"
                                   (onClick)="onGalleryCardClicked(item.roomType)"></app-galllery-card>
            </ng-container>
        </div>

    </div>
</section>

<!-- Section: Contact -->
<section class="section section-contact grey lighten-4 scrollspy"
         id="contact">
    <div class="container">
        <h4 class="center">
            <span class="grey-text">
                Contact Me
            </span>
        </h4>
        <div class="row">
            <div class="wow animated zoomIn col s12 m6 offset-m3">
                <div class="card-panel center grey lighten-3">
                    <h5>Please fill out this form</h5>
                    <div class="input-field">
                        <input type="text"
                               placeholder="Name">
                    </div>
                    <div class="input-field">
                        <input type="text"
                               placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input type="text"
                               placeholder="Phone">
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea"
                                  placeholder="Enter Message"></textarea>
                    </div>
                    <input type="submit"
                           value="Submit"
                           class="btn blue-grey darken-4">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Follow-->
<section class="section section-follow grey darken-4 white-text center">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Follow Us</h4>
                <p>Follow us on social media</p>
                <a href="https://www.instagram.com/khumozin/"
                   class="white-text">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/khumo-mogorosi-8ab477145/"
                   class="white-text"
                   style="margin-left: 10px; margin-right: 10px;">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/khumozin"
                   class="white-text">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
<footer class="section grey darken-3 white-text center">
    <!--p class="flow-text">Intelligence Repairs &copy; 2018</p-->
    <p class="flow-text">Copyright &copy;
        <a class="white-text"
           href="www.bubble-worx.firebaseapp.com">AppName</a>
    </p>
</footer>