<!-- Section: Contact -->
<section class="section section-contact grey lighten-4 scrollspy"
         id="contact">
    <div class="container">
        <h4 class="center">
            <span class="grey-text">
                Contact Me
            </span>
        </h4>
        <div class="row">
            <div class="wow animated zoomIn col s12 m6 offset-m3">
                <div class="card-panel center grey lighten-3">
                    <h5>Please fill out this form</h5>
                    <form [formGroup]="contactForm"
                          (ngSubmit)="onSendMessage()"
                          autocomplete="off">
                        <div class="input-field">
                            <input type="text"
                                   id="name"
                                   formControlName="Name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text"
                                   id="email"
                                   formControlName="Email">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text"
                                   id="subject"
                                   formControlName="Subject">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="input-field">
                            <textarea class="materialize-textarea"
                                      id="message"
                                      formControlName="Message"></textarea>
                            <label for="message">Enter Message</label>
                        </div>
                        <button type="submit"
                                [disabled]="!contactForm.valid"
                                class="btn blue-grey darken-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>