<div class="container">
    <h3 class="center-align">Dynasty Forest Sandown Hotel Rooms</h3>
    <div class="row"
         style="margin-top: 5%;">
        <div class="col s12 m12 l6">
            <app-room-carousel [images]="(selectedRoom$ | async).Images"></app-room-carousel>
        </div>
        <div class="col s12 m12 l6">
            <app-room-info [room]="selectedRoom$ | async"></app-room-info>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <app-feature-list [featureList]="(selectedRoom$ | async).FeaturesList"></app-feature-list>
        </div>
    </div>
</div>