<!-- Page Layout here -->
<div class="row">

    <nav class="custom-navbar">
        <ul class="custom-navbar-nav">
            <li class="logo">
                <a href="#"
                   class="custom-nav-link">
                    <span class="link-text logo-text">Fireship</span>
                    <svg aria-hidden="true"
                         focusable="false"
                         data-prefix="fad"
                         data-icon="angle-double-right"
                         role="img"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512"
                         class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                        <g class="fa-group">
                            <path fill="currentColor"
                                  d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                  class="fa-secondary"></path>
                            <path fill="currentColor"
                                  d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                  class="fa-primary"></path>
                        </g>
                    </svg>
                </a>
            </li>

            <li class="custom-nav-item">
                <a routerLink="main"
                   routerLinkActive="active"
                   class="custom-nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true"
                         focusable="false"
                         data-prefix="fab"
                         data-icon="elementor"
                         class="svg-inline--fa fa-elementor fa-w-14"
                         role="img"
                         viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M425.6 32H22.4C10 32 0 42 0 54.4v403.2C0 470 10 480 22.4 480h403.2c12.4 0 22.4-10 22.4-22.4V54.4C448 42 438 32 425.6 32M164.3 355.5h-39.8v-199h39.8v199zm159.3 0H204.1v-39.8h119.5v39.8zm0-79.6H204.1v-39.8h119.5v39.8zm0-79.7H204.1v-39.8h119.5v39.8z" />
                    </svg>
                    <span class="link-text">Main</span>
                </a>
            </li>

            <li class="custom-nav-item">
                <a routerLink="roomtypes"
                   routerLinkActive="active"
                   class="custom-nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true"
                         focusable="false"
                         data-prefix="fas"
                         data-icon="hammer"
                         class="svg-inline--fa fa-hammer fa-w-18"
                         role="img"
                         viewBox="0 0 576 512">
                        <path fill="currentColor"
                              d="M571.31 193.94l-22.63-22.63c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31-28.9-28.9c5.63-21.31.36-44.9-16.35-61.61l-45.25-45.25c-62.48-62.48-163.79-62.48-226.28 0l90.51 45.25v18.75c0 16.97 6.74 33.25 18.75 45.25l49.14 49.14c16.71 16.71 40.3 21.98 61.61 16.35l28.9 28.9-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63l22.63 22.63c6.25 6.25 16.38 6.25 22.63 0l90.51-90.51c6.23-6.24 6.23-16.37-.02-22.62zm-286.72-15.2c-3.7-3.7-6.84-7.79-9.85-11.95L19.64 404.96c-25.57 23.88-26.26 64.19-1.53 88.93s65.05 24.05 88.93-1.53l238.13-255.07c-3.96-2.91-7.9-5.87-11.44-9.41l-49.14-49.14z" />
                    </svg>
                    <span class="link-text">Maintenance</span>
                </a>
            </li>

            <li class="custom-nav-item">
                <a routerLink="systemreports"
                   routerLinkActive="active"
                   class="custom-nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true"
                         focusable="false"
                         data-prefix="fas"
                         data-icon="chart-pie"
                         class="svg-inline--fa fa-chart-pie fa-w-17"
                         role="img"
                         viewBox="0 0 544 512">
                        <path fill="currentColor"
                              d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z" />
                    </svg>
                    <span class="link-text">System Reports</span>
                </a>
            </li>

            <li class="custom-nav-item">
                <a routerLink="otherreports"
                   routerLinkActive="active"
                   class="custom-nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true"
                         focusable="false"
                         data-prefix="far"
                         data-icon="chart-bar"
                         class="svg-inline--fa fa-chart-bar fa-w-16"
                         role="img"
                         viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M396.8 352h22.4c6.4 0 12.8-6.4 12.8-12.8V108.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v230.4c0 6.4 6.4 12.8 12.8 12.8zm-192 0h22.4c6.4 0 12.8-6.4 12.8-12.8V140.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v198.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h22.4c6.4 0 12.8-6.4 12.8-12.8V204.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zM496 400H48V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16zm-387.2-48h22.4c6.4 0 12.8-6.4 12.8-12.8v-70.4c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v70.4c0 6.4 6.4 12.8 12.8 12.8z" />
                    </svg>
                    <span class="link-text">Other Reports</span>
                </a>
            </li>

            <li class="custom-nav-item"
                id="themeButton">
                <a routerLink="settings"
                   routerLinkActive="active"
                   class="custom-nav-link">
                    <svg class="theme-icon"
                         id="lightIcon"
                         aria-hidden="true"
                         focusable="false"
                         data-prefix="fad"
                         data-icon="moon-stars"
                         role="img"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512"
                         class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x">
                        <g class="fa-group">
                            <path fill="currentColor"
                                  d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
                                  class="fa-secondary"></path>
                            <path fill="currentColor"
                                  d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
                                  class="fa-primary"></path>
                        </g>
                    </svg>
                    <span class="link-text">Themify</span>
                </a>
            </li>
        </ul>
        <!-- Grey navigation panel -->
    </nav>

    <main>
        <!-- Teal page content  -->
        <div class="custom-container">
            <router-outlet></router-outlet>
        </div>
    </main>

</div>