<div class="container">
    <h3 class="center-align">Payment Now</h3>
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card">
                <div class="center-align">
                    <div class="card-content">
                        <span class="card-title">
                            Choose Payment Option
                        </span>
                        <div class="divider"></div>
                    </div>

                    <h6 class="center-align">{{roomType }} ({{getNoRooms(booking.NumberOfRooms)}}) @
                        {{ calculatePrice(booking.RoomType) | currency:'ZAR':'symbol-narrow' }}</h6>
                    <div class="row">
                        <div class="wrapper">
                            <div class="content-button">
                                <a (click)="onStripePayment()"
                                   class="blue darken-1 waves-effect waves-light btn col s8 m4 l4 offset-s2 offset-m4 offset-l4">
                                    <i class="fab fa-stripe-s"></i>
                                    Stripe</a>
                            </div>
                            <div class="context-text">
                                <span class="center-align">Coming Soon</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <div class="content-button">
                                <a (click)="onPaypalPayment()"
                                   class="blue darken-4 waves-effect waves-light btn col s8 m4 l4 offset-s2 offset-m4 offset-l4">
                                    <i class="fab fa-paypal"></i>
                                    Paypal</a>
                            </div>
                            <div class="context-text">
                                <span class="center-align">Coming Soon</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>