<div class="container">
    <h3 class="center-align">Payment Now</h3>
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card-panel">
                <h5 class="center-align">Choose Payment Option</h5>
                <div class="divider"></div>

                <div class="row">
                    <a class="blue darken-1 waves-effect waves-light btn col s8 m4 l4 offset-s2 offset-m4 offset-l4">
                        <i class="fab fa-stripe-s"></i>
                        Stripe</a>
                </div>
                <div class="row">
                    <a class="blue darken-4 waves-effect waves-light btn col s8 m4 l4 offset-s2 offset-m4 offset-l4">
                        <i class="fab fa-paypal"></i>
                        Paypal</a>
                </div>
            </div>
        </div>
    </div>
</div>